@{
    ViewData["Title"] = "Home Page";
}

<div class="content" data-simplebar>
	<div class="section mt-0">
		<h1 class="title title--h1 title__separate">Resume</h1>
	</div>

	<!-- Experience -->
	<div class="section">
		<h2 class="title title--h2"><img class="title-icon" src="/SiteTemplate/assets/icons/icon-education.svg" alt="" /> Education</h2>
		<div class="timeline">
			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">University of Qom</h5>
				<span class="timeline__period">Computer Science</span>
				<span class="timeline__period">2006 — 2010</span>
				<p class="timeline__description">...</p>
			</article>
		</div>
	</div>

	<div class="section">
		<h2 class="title title--h2"><img class="title-icon" src="/SiteTemplate/assets/icons/icon-experience.svg" alt="" /> Experience</h2>
		<div class="timeline">
			<!-- Item -->
			<article class="timeline__item">
				<h5 class="title title--h3 timeline__title">Backend Developer</h5>
				<span class="timeline__period">Depna Company</span>
				<span class="timeline__period">2011 — Present</span>
				<p class="timeline__description">...</p>
			</article>
		</div>
	</div>

	<!-- Skills -->
	<div class="section">
		<h2 class="title title--h2">My Skills</h2>
		<div class="box-gray">
			<!-- Progress -->
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-text"><span>Web Design</span><span>80%</span></div>
				</div>
				<div class="progress-text"><span>Web Design</span></div>
			</div>
		</div>
	</div>
</div>
